
.hidden-load {
    display: none;
    opacity: .5;
}

#wrap {
    background: 50% 50% url('../img/bg.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 105px);
    padding: 20px;
}

.mainlogo {
    width: 400px;
}

.form-area {
    max-width: 400px;
    background-color: rgba(255, 255, 255, .95);
    padding: 20px;
    align-self: center;
    margin: 0 15px;
    position: relative;
}

.block {
    max-width: 400px;
    background-color: #fff;
    padding: 25px;
    align-self: center;
    text-align: center;
    position: relative;
}

@media screen and (max-width:1090px) {
    .navbar {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .mainlogo {
        max-width: 220px;
    }
    #wrap {
        min-height: calc(100vh - 49px);
    }
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 6px;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    #wrap {
        position: relative;
        min-height: 100vh;
        overflow: hidden;
    }
    .block {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .form-area {
        position: absolute;
        top: 50%;
        width: 400px;
        transform: translateY(-50%) translateX(-50%);
    }
}

ol>li {
    text-align: justify;
}
